@font-face {
  font-family: "Yasashii-Bold";
  src: url("../fonts/Yasashii-Bold.woff2") format("woff2"),
  url("../fonts/Yasashii-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes textGlow {
  0% {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
  } 45% {
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.5), 1px -1px 15px rgba(255, 255, 255, 0.5), -1px -1px 15px rgba(255, 255, 255, 0.5), -1px 1px 15px rgba(255, 255, 255, 0.5);
  } 55% {
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.5), 1px -1px 15px rgba(255, 255, 255, 0.5), -1px -1px 15px rgba(255, 255, 255, 0.5), -1px 1px 15px rgba(255, 255, 255, 0.5);
  } 100% {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
  }
}
@keyframes pulse {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.8);
  } 25% {
    text-shadow: 0px 0px 4px rgba(255, 0, 0, 0.6);
  } 50% {
    text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.4);
  } 75% {
    text-shadow: 0px 0px 12px rgba(255, 0, 0, 0.2);
  } 100% {
    text-shadow: 0px 0px 16px rgba(255, 0, 0, 0);
  }
}
body{
}

#header {
  margin-top: 1em;
}
h1, h5{
  font-family: Yasashii-Bold, sans-serif;
  text-align: center;
  margin: 0px 0px 0px 0px;
  color: rgba(255, 215, 0, 1);
  text-shadow: 0px 0px 10px white;
}
h1 {
  font-weight: bold;
  font-size: 5em;
  animation: textGlow 5s linear infinite;
}
h5 {
  font-variant: small-caps;
  font-style: italic;
  padding-right: 40%;
  font-size: 2em;
}

.modal-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.modal-content {
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 25px;
  position: relative;
}
#exit h6 {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: .7em;
  transform: rotateZ(45deg);
  font-size: 2em;
  cursor: pointer;
}
#exit h6:hover {
  color: red;
  animation: pulse 0.8s linear infinite;
}
